* {
    margin: 0;
    padding: 0;
}

body, html {
    background: #f2f2f2;
    #font-family: 'Galdeano', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    #font-family: 'Acme', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    max-width: 100%;
    max-height: 100vh;
    text-align:center;
    align:center;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;

}
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@font-face {
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
}

/** ###########Main Header Styling########## **/

#header1 {
    background:#ffffff;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    text-align: centre;
    width:100%;
    height: 50px;
    background-image: linear-gradient(to bottom right, #003333, #008080);
}

#header1>ul {
    list-style-type: none;
    margin: 0;
    padding: 3px;
    display: flex;
    flex-direction: row;
    text-align: centre;
    overflow: hidden;
}

#header1>ul>li>a {
    color: #ffffff;
    font-family: 'Galdeano', sans-serif;
    display: flex;
    flex-direction: row;
    text-align: centre;
    font-size: 16px;
    margin: 10px;
    padding: 3px;
    text-decoration: none;
}

#header1>ul>li>a:hover {
    color:red;
    font-weight: 600;
    border-bottom: 1px solid red;
}

/** ###########Froms Styling########## **/

 form {
      justify-content: centre;
     #background:rgb(23, 170, 170);
     background: #ffffff;
     box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
     border-radius: 8px;
     float: centre;
     margin-top: 50px;
     margin-left: auto;
     margin-right: auto;
     padding: 30px;
     max-width:350px;
}


form h2{
    #font-family: inherit;
    font-family: 'Galdeano', sans-serif;
    font-weight: initial;
    font-size: 24px;
    color: #ffffff;
    width: 280px;
    border-radius: 5px;
    padding: 10px;
    background-image: linear-gradient(#001a33, #0066cc);
    #background-color:rgba(0, 40, 77, 0.85);

}

#login-form>input[type=text] {
    width: 300px;
    margin: 5px 0;
    padding:15px 5px 10px 5px;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    outline: none;
    opacity: .6;
    border-bottom: solid 1px #d8d8d8;
    border-radius:5px;
    font-family: inherit;
    font-size: 14px;
    background-origin: content-box;
    background-image: url('/static/images/email-usr.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20px 20px;
    text-indent: 25px;
}

#login-form>input[type=password] {
    width: 300px;
    margin: 5px 0;
    padding:15px 5px 10px 5px;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    outline: none;
    opacity: .6;
    border-bottom: solid 1px #d8d8d8;
    border-radius:5px;
    font-family: inherit;
    font-size: 14px;
    background-origin: content-box;
    background-image: url('/static/images/pwd-usr.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 21px 21px;
    text-indent: 25px;
}

input[type=text], select {
    width: 300px;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: none;
    outline: none;
    border-bottom: solid 1px #d8d8d8;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    box-sizing: border-box;
}

input[type=password] {
    width: 300px;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: solid 1px #d8d8d8;
    font-family: inherit;
    font-size: 14px;
}

input[type=email] {
    width: 300px;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: solid 1px #d8d8d8;
    font-family: inherit;
    font-size: 14px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 300px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
    cursor: pointer;
}
textarea {
    width: 260px;
    color: black;
    padding: 14px 20px;
    margin: 5px 0;
    resize: none;
    border: none;
    outline: none;
    border-bottom: solid 1px #d8d8d8;
    font-family: inherit;
    font-size: 14px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}

#form-footer {
    display: block;
    font-family: inherit;
    color:#00000;
}
#form-footer a{
    color: #003366;
    font-size: 13px;
    text-decoration: none;
}
#form-footer a:hover{
    color: red;
    }
form h4 {
    color: red;
    padding:10px
}

/** ########### User Summary Data Styling########## **/

table {
     justify-content: center;
     background: #ffffff;
     box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
     display: block;
     overflow-x:auto;
     float: centre;
     margin-top: 50px;
     margin-left: auto;
     margin-right: auto;
     text-align:centre;
     padding: 2px;
     max-width:50%;

}
table th{
    padding: 10px;
    color: #ffffff;
    background-image: linear-gradient(#003333, #008080);
}

table td{
    border-radius: 10px;
    padding: 10px 53px 10px 53px;
    background:  #b3e6ff;
}
table td:hover{
    background: #4dc3ff;
}

/** ########### Users Styling########## **/

#user-data {
    float: left;
    text-align: left;
    margin:10px;
    padding:25px;
    display: flex;
    flex-direction: column;
    color: #283747;
    background: #ffffff;
    box-shadow: 0 2px 2px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 5px;
}

#user-data p{
    padding:5px;
}

#user-data a{
    color: #34495E;
}

/** ###########About Us Styling########## **/

#banner-container{
    position: relative;
    text-align: center;
    color: white;
    display: block;
    background-image: linear-gradient(#001a33, #003366, #001a33);
}

#banner-img {
    filter: blur(1px);
  -webkit-filter: blur(1px);
    width: 100%;
    height:300px;
    margin: 0;
    padding: 0;
    background-color: black;
}

#next_div {
    width:100%;
    height:100px;
    background-color: black;
}

#cont-div h2 {
    color: #ffffff;
    background-image: linear-gradient(#008080, #003333);
    padding:10px;
    margin:0px;
    font-size: 20px;
    font-weight: initial;
}

#about-div {
    float: left;
    text-align: left;
    width: 300px;
    margin:10px;
    margin-bottom:50px;
    padding:50px;
    display: block;
    color: black;
    background: #ffffff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 15px;
}

#about-div h3{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 25px;
    font-weight: initial;

}