<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    {% include 'head.html' %}
</head>
<body>
<!--{% include 'main_header.html' %}-->
{% include 'customer_menu.html' %}


    <div id="user-data">
        <p><b>Name:</b> <a>{{ serializers.name }}</a></p>
        <p><b>E-mail:</b> <a>{{ serializers.email }}</a></p>
        <p><b>Account:</b> <a style="text-decoration:none;" href="deposit">{{ serializers.accno }}</a></p>
        <p><b>Balance:</b> <a>{{ serializers.balance }}</a></p>
    </div>


</body>
</html>