<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
     {% include 'head.html' %}
</head>
<body>

<!--    {% include 'main_header.html' %}-->
    {% include 'main_menu.html' %}

<div>

    <form action="index" method="post" autocomplete="off" id="login-form">
        {% csrf_token %}
        <center><h2>Login Here</h2></center><br>
        <input type="text"
               autofocus=""
               required=""
               name="email"
               placeholder="Email or Pone number"><br>
        <input type="password"
               name="pwd"
               required=""
               placeholder="Password"><br><br>
        <input type="submit"
               value="Login"><br>
        <center>
                <h4>{{ message }}</h4>
        </center>
        <div id="form-footer">
            <p>Don't have an account?</p><a href="register">Register</a>
        </div>
    </form>

</div>

</body>
</html>