<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    {% include 'head.html' %}
</head>
<body>
<!--{% include 'main_header.html' %}-->
{% include 'customer_menu.html' %}
<div>
    <form action="transfer" method="post" autocomplete="off" id="myInput">
        {% csrf_token %}
       <center><h2>Transfer Here</h2></center>

        <input type="text"
               autofocus=""
               required=""
               name="account"
               placeholder="Account number *"><br>
        <input type="text"
               autofocus=""
               required=""
               name="account_temp"
               placeholder="Confirm account number *"><br>
        <input type="text"
               autofocus=""
               required=""
               name="amount"
               placeholder="Enter amount *"><br><br>
        <input type="submit"
               value="Transfer"><br>
        <center>
            <h4 style="color: red;font-style:Arial,Helvetica,sans-serif;">{{ message }}</h4>
        </center>
    </form>
    <script>
        window.onload = () => {
        const myInput = document.getElementById('myInput');
        myInput.onpaste = e => e.preventDefault();
        }
    </script>
</div>
</body>
</html>